.p1{
    width: 200px;
    height: 100px;
    margin: 50px 70px;
    padding: 50px;
}
span{
    height: 200px;
    width: 100px;
    margin: 50px 20px;
}
.a1{
    height: 200px;
    width: 100px;
    margin: 50px 20px;
    display: none;
}
.p2{
    display: inline-block;
    width: 200px;
    height: 100x;
    margin: 20px 30px;
    padding: 20px 30px;
}
.a2{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 50px;
    padding: 50px;
}