p{
    width: 200px;
    height: 100px;
    margin: 50px 70px;
    padding: 50px;
}
span{
    height: 200px;
    width: 100px;
    margin: 50px 20px;
}
a{
    height: 200px;
    width: 100px;
    margin: 50px 20px;
}